/* Orga générale styles inspirées de la méthode Daisy :
reset
typo (charte typographique)
formulaires (forms)
rythme, grille (grid)
positionnement des blocs principaux (layout)
styles génériques (skins)
variantes par gabarits (pages)
surcharges
ie
*/



/* Imports */
/*@import url("reset.css");
@import url("global-forms.css");*/

/**************************** Global **********************/

html{
    height: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Body */
body {
    /*background: #EEE;*/
    /*background: #77CAC8;*/
    color: #1A1A1A;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Montserrat', 'Lucida Sans
    Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.1;
    text-align: left;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

/* Headings */
h1 {font-size: 1.571em;
    font-weight: bold;} /* 22px*/
h2 { font-size: 1.286em;    } /* 18px*/
h3 {font-size: 1em} /* 14px */
/*h2 {font-size: 1.429em} /* 20px*/
/*h4 {font-size: 1.143em} /* 16px*/



/* Anchors */
a {
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #333;
    padding: 0 1px;
    text-decoration: none;
}

a:hover, a:active {
    color: #fff;
    text-decoration: none;
}

/* Paragraphs */
p {
    margin-bottom: 1.143em;
}

* p:last-child {
    margin-bottom: 0;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}


/**************************** Global structure **********************/

nav, .featured, .seasonal, .rassurance, .bottom, .search-nav{
        width: 90%;
        max-width: 920px;
/*        padding: 0;*/
        margin: 0 auto;
}



/**************************** Header **********************/

/* global */
header{
    width: 100%;
     background: #EEE;
    padding-bottom: 20px;
    text-align: center;
}

nav .nav-btn{
    height: 100%;
    padding: 5px;
    background: #ff38a9;
    font-size: 0.8em;
    position: relative;
    display: block;
    float: left;
}
    nav .nav-btn:hover{
        background: #d90484;
    }

nav a{
    font-size: 1.1em;
    color: white;
    font-weight: 400;
    font-style: italic;
    height: 40px;
    display: inline-block;
    /*padding: 0 30px;*/
    line-height: 40px;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    margin: 0 auto;
}

nav .nav-btn span{
    margin-top: 40%;
}


/* Main nav */
nav.main-nav{
    padding-top: 0.8%;
    height: 50px;   
}
nav .main-nav:after {
/*clear: both;
*/}

nav .title-btn{
    width: 55%;
    background: transparent;
    font-size: 1.286em;
    float: left;
}
    nav .title-btn:hover{
        background: transparent;
    }   
    nav .title-btn img{
        width: 40px;
        display: inline;
        float: left;
        margin-right: 5px;
    }


nav .menu-btn-nav{
    float: right;
    width: 45%;
    right: 0;
}
    nav .menu-btn-nav .nav-btn{
        padding: 0 1em;
        background: transparent;
        float: right;
    }
    nav .menu-btn-nav .icon{
        display:none;
    }

nav .menu-btn{
    display: none;
}


/* Search nav */
.search-nav{
    height: 30px;
    padding: 0;
}
    .search-nav form{
        float: right;
        width: 37.5%;
    }
    .search-nav input{
        display: block;
        width: 100%;
        height: 25px;
        padding: 6px 12px;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }



/* Item nav */

nav.item-nav{
    height: 40px;

}
.item-nav ul{
    width: 100%;
}

nav .item-btn{
    max-width: 12.5%;
    width: 12.5%;
    min-width: 10%;
   
    /*width: 100%;*/
/*    padding: 0 0.5em;
    margin: auto;*/
 /*   display: inline-block;*/
}

nav li.item-btn a{
    display: block; 
}


/* Adaptation tablettes */
@media screen and (min-width: 480px) and (max-width: 768px) {
    header{
        padding-bottom: 75px;
    }
    nav .title-btn{
        /*max-width: 50%;*/
    }
    nav .item-nav{;
        width: 100%;
        display: block;
    }
    nav .item-btn{
        width: 25%;
        max-width: 25%;
         margin-bottom: 3px;
    }
}



/* Adaptation smartphone */
@media screen and (max-width: 480px) {
    nav .nav-btn{
        width: 20%;
        margin: 0 auto;
        padding: 0.2em;
        height: 100%;
    }
    nav .nav-btn .nav-text{
        display: none;
    }
    nav .title-btn{
        display: block;
        width: 100%;
        text-align: center;
    }
    .item-nav{
        display: none;
    }
    nav .menu-btn{
        display: inline-block;
    }
    nav .menu-btn-nav .icon{
        display: block;
    }
    nav .nav-btn [class^="icon-"]:before, [class*=" icon-"]:before{
        font-size: 3.3em;
        width: 100%;
        /*height: 100%;*/
        margin: 0;
        
    }
}
/**************************** Featured **********************/

.feat-carousel{
    width: 100%;
    background-color: white;
}

/*.featured img{
    width: 69%;
    min-width: 200px;
    max-width: 900px;
    position: relative;
    display: inline-block;
}*/

.feat-side-menu {
    height: 399px;
    width: 30%;
    /*background: #ff38a9;*/
    display: inline-block;
}

.feat-img {
    width: 69%;
    height: 399px;
    min-width: 200px;
    max-width: 900px;
    display: inline-block;
    background-color: red;
    float: right;
}

.feat-img img {
    width: 100%;
    height: 100%;
}

.feat-menu-item {
    height: 133px;
    width: 100%;
    background: #ff38a9;
    display: inline-block;
    text-align: center;
    padding-top: 45px;
}

.feat-menu-item:hover {
    background-color: #d90484;
}

.feat-menu-item a {
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    height: 40px;
    display: inline-block;
    /*padding: 0 30px;*/
    line-height: 40px;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    margin: 0 auto;
}


/**************************** exemple justify **********************/






/**************************** Seasonal **********************/


.seasonal{
    margin-top: 3em;
}

/* -- DEFAULTS -- */

div, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* -- FLUID GRID STYLES -- */

#Grid{
  margin-bottom: 40px;
  text-align: justify;
  font-size: 2em;
  color: black;
}

#Grid li{
  display: inline-block;
  background: #ccc;
  color: black;
  border:solid;
  width: 31%;
  padding-top: 1%; /* Used instead of height to give elements fluid, width-based height */
  padding-top: 0px;
  padding-bottom: 1.5%;
  margin-bottom: 3.5%;
  text-align: center;
}


#Grid:after{
  content: ''; 
  display: inline-block;
  width: 100%;
/*  border-top: 10px dashed #922d8d;  Border added to make element visible for demonstration purposes */
}

/*#Grid .placeholder{
  padding: 0;
  border-top: 10px solid #922d8d;  Border added to make element visible for demonstration purposes 
}*/


#Grid .violet{
    background-color: #d90484;
}

#Grid .jaune{
    background-color: #f5ab00;
}

#Grid .vert{
    background-color: #85b82e;
}

#Grid .bleu{
    background-color: #008dd4;
}

#Grid header{
    height: 34px;
    margin-bottom: 20px;
    vertical-align: middle;
}

#Grid  img{
    max-height: 125px;
    max-height: 125px;
    background-color: whites;
}

#Grid li p{
    font-size: 55%;
    text-align: left;
}

#Grid .bandeau{
    width: 85%;
    height: 40px;  
    margin-top: 20px;
    text-align: left;
    line-height: 70%;
}



/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */

/* 3 COL */

@media (max-width: 800px){
  #Grid li{
    width: 31%;
    /*padding-top: 1%;*/
    margin-bottom: 3%;
  }
}

/* 2 COL */

@media (max-width: 600px){
  #Grid li{
    width: 48%;
    /*padding-top: 1%;*/
    margin-bottom: 4%;
  }
}


/***** OLD *********/


.seasonal a{
    padding: 0px;
}
/***** Item *********/

.seasonal ul{
    text-align:jusitify;
}

.seasonal ul li{
    display: inline-block;
	text-align:left;
}

.seasonal .item-container2{
    background: #888;
    padding: 5px;
    height: 160px;
    overflow: auto;
    width: 160px;
    text-align: center;
}



.seasonal .item-container{
    background: #888;
    padding: 5px;
    height: 160px;
    overflow: auto;
    width: 160px;
	/* margin: 2em; */
	
    text-align: center;
}

.seasonal .item-body{
    width: 100%;
}

.seasonal .item-body img{
    max-height: 95px;
    max-height: 95px;
}


/**************************** Footer **********************/


/***** Rassurance *********/
.rassurance{
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
}

.rassurance ul li{
    margin: 0px;
    margin-bottom: 0px;
    width: 23%;
    height: 6em;
    border: solid;
    text-align: center;
    background-color: white;
    display: inline-block;
}


/***** sitemap *********/
.reseaux-sociaux{
    text-align: center;
    padding: 0.5em;
}

.reseaux-sociaux li{
    width: 27%;
    text-align: center;
    border: solid;
    margin: 2%;
    background-color: pink;
    display: inline-block;

}


footer{
    padding: 0px;
    margin: 2em auto;
    margin-bottom: 0px;
    font-size: 1em;
    background-color: #EEE;
    border: solid;
    text-align: left;

}

footer .bottom{
    text-align: center;
    max-width: 920px;
    
}


footer article{
    width: 21%;
    display: inline-block;
    vertical-align: top;
    margin: 1%;
    top: 0px;
}


footer article ul li {
    vertical-align: top;
    display: block;
    margin: 1em;
}



/* Adaptation tablettes */
@media screen and (min-width: 480px) and (max-width: 768px) {
    

    footer{
        width: 100%;
    }

    footer article{
        width: 21%;
    }
}



/* Adaptation smartphone */
@media screen and (max-width: 480px) {
    footer{
        width: 100%;
    }

    footer article{
        display: block;
        width: 100%;
        margin: 0px;
    }

    footer article ul li{
        margin: 0.5em;
        padding: 0px;
        font-size: 1.5em;
        text-align: left;
    }
}
